@model IEnumerable<SupplyStuff.ViewModels.UserViewModel>
@{
    ViewBag.Title = "Index";
}

<h2>Users</h2>

<table class="table" id="itemtable">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reference)
        </th>
            
        <th>
            @Html.DisplayNameFor(model => model.Role)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reference)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                @Html.ActionLink("Edit user", "Edit", new { id = item.Id })
                @*@Html.ActionLink("Details", "Details", new { id = item.OrderId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.OrderId })*@
            </td>
        </tr>

    }
    </tbody>
</table>

<script type="text/javascript">

    $(document).ready(function () {
        $('#itemtable').DataTable(
            {
                "lengthChange": false,
                "info": false
            });
    })
</script>